﻿
@{
    ViewBag.Title = "Pregled proizvoda";
}

<h2>Pregled proizvoda</h2>




<!DOCTYPE html>
<html>
<head>

    <style>
        .slika {
            width: 60%; /* Postavljamo širinu svake slike na 30% kako bi sve tri stali u red */
            display: inline-block; /* Postavljamo slike da budu jedna pokraj druge */
            margin: 20px; /* Dodajemo malo margine između slika */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/jedno.jpg" alt="PVC jednokrilni prozor" width="300" height="250" class="img-fluid">
                <p>1.PVC jednokrilni prozor</p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/dvo.jpg" alt="PVC dvokrilni prozor" width="300" height="250" class="img-fluid">
                <p>2.PVC dvokrilni prozor</p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/trok.jpg" alt="PVC trokrilni prozor" width="300" height="250" class="img-fluid">
                <p>3.PVC trokrilni prozor</p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/pvc-vrata-section.jpg" alt="Opis slike" width="300" height="250" class="img-fluid">
                <p>4.PVC vrata</p>
            </div>
            <div class="col-md-4">
                <img src="~/Images/pvcbijela.png" alt="Opis slike" width="300" height="250" class="img-fluid">
                <p>5.PVC vrata</p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="~/Images/alu-jednokrilni-prozor.jpg" alt="Opis slike" width="300" height="250" class="img-fluid">
            <p>6.ALU jednokrilni prozori</p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/alup.jpg" alt="Opis slike" width="300" height="250" class="img-fluid">
            <p>7.ALU dvokrilni prozori</p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/aluproz.jpg" alt="Opis slike" width="300" height="250" class="img-fluid">
            <p>8.ALU dvokrilni prozori</p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/aluvr.png" alt="Opis slike" width="300" height="250" class="img-fluid">
            <p>9.ALU vrata</p>
        </div>
        <div class="col-md-4">
            <img src="~/Images/aluvra.jpg" alt="Opis slike" width="300" height="250" class="img-fluid">
            <p>10.ALU vrata</p>
        </div>
    </div>


</body>
</html>


