
@{
    ViewBag.Title = "Stolarija";
}



<div class="jumbotron">
    <h1 style="font-weight: bold; color: #6ACD40"> PVC stolarija</h1>
    <p class="lead"></p>
    <p><a href=" " class=""> </a></p>
</div>


<div class="row">
    <!-- Panel s opisom proizvoda -->
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h1 style="font-weight: bold; color: #6ACD40">
                    Salamander bluEvolution
                </h1>
                <br /><br />
                <div class="example-box-wrapper">
                    <h3 style="font-weight: bold"> Prozorski sustav budućnosti </h3>
                    <h4>
                        Visina profila od samo 118 mm daje prozoru više svjetla,
                        dok PVC materijal omogućuje ekološku održivost uz mogućnost 100% recikliranja PVC-a.
                    </h4>
                    <h4> ✔ 6-komorni profil: Uf = 1,0 W/m²K </h4>
                    <h4> ✔ Zvučna izolacija do 47 dB </h4>
                    <h4> ✔ Protuprovalna zaštita do WK 2 </h4>
                    <h4> ✔ visoka kvaliteta proizvoda zbog stroge kontrole proizvodnje </h4>
                    <h4> ✔ najviši standard profilnih sustava prema RAL A-smjernicama </h4>
                    <h4> ✔ minimalno održavanje zbog dobro zabrtvljenih površina </h4>
                    <h4> ✔ visokovrijedni materijali i zahtjevna proizvodnja pružaju prozorima i vratima dugovječnost  </h4>
                </div>
                <br /><br />
            </div>
        </div>
    </div>

    <!-- Slika s desne strane -->
    <div class="col-md-4">
        <img src="~/Images/sbe.jpg" alt="Slika proizvoda" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <!-- Tekst s lijeve strane -->
                <h1 style="font-weight: bold; color: #6ACD40">
                    Salamander greenEvolution
                </h1>
                <br /><br />
                <div class="example-box-wrapper">
                    <h3 style="font-weight: bold">Jedan sustav, šest dizajna - mnogo varijanti </h3>
                    <h4>
                        Sa salamander greenEvolution MD postavljamo nove standarde u dizajnu prozora.
                        Održivi plastični prozor koji odgovara fasadi i interijeru?
                        Uz široku paletu dekora i materijala može se ostvariti bilo koji zamislivi stil: od klasičnog do modernog.
                    </h4>
                    <h4> ✔ 5-komorni profil: Uf= 1,1 W/m²K</h4>
                    <h4> ✔ 5 komora i tri brtve </h4>
                    <h4> ✔ Zvučna izolacija do 47 dB</h4>
                    <h4> ✔ Protuprovalna zaštita RC 3</h4>
                    <h4> ✔ 6-komorni profil: Uf = 1,0 W/m²K </h4>
                    <h4> ✔ Zvučna izolacija do 47 dB </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Slika s desne strane -->
    <div class="col-md-6">
        <img src="~/Images/GE.jpg" alt="Slika proizvoda" class="img-fluid" style="max-width: 100%;" max-height: 100px;">
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <!-- Tekst s lijeve strane -->
                <h1 style="font-weight: bold; color: #6ACD40">
                    Salamander StreamLine
                </h1>
                <br /><br />
                <div class="example-box-wrapper">
                    <h3 style="font-weight: bold"> Udobnost i značajno smanjenje potrošnje energije </h3>
                    <h4> ✔ Zvučna izolacija do 47 dB</h4>
                    <h4> ✔ Lagani za održavanje</h4>
                    <h4> ✔ 76 mm dubina ugradnje </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Slika s desne strane -->
    <div class="col-md-6">
        <img src="~/Images/SL.jpg" alt="Slika proizvoda" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
</div>








<div class="jumbotron">
    <h1 style="font-weight: bold; color: #6ACD40"> ALU stolarija</h1>
    <p class="lead"></p>
    <p><a href=" " class=""> </a></p>
</div>


<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <h1 style="font-weight: bold; color: #6ACD40">
                Feal Termo 65
            </h1>
            <br /><br />
            <div class="example-box-wrapper">


                <h3 style="font-weight: bold"> Namijenjen za izradu prozora, vrata i fiksnih stijena </h3>

                <h4>Karakteristike:</h4>

                <h4>✔ dubina rama: 65 i 73 mm </h4>
                <h4>✔ dubina krila: 73 mm</h4>
                <h4>✔ dubina ispune: do 59 mm </h4>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Images/Termo-65.jpg" alt="Slika proizvoda" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
</div>

<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <h1 style="font-weight: bold; color: #6ACD40">
                Feal Termo 85
            </h1>
            <br /><br />
            <div class="example-box-wrapper">
                <div class="example-box-wrapper">
                    <h3 style="font-weight: bold">Namijenjen za izradu prozora, vrata i fiksnih stijena </h3>

                    <h4>Karakteristike:</h4>

                    <h4>✔ dubina rama: 77 i 85 mm </h4>
                    <h4>✔ dubina krila: 85 mm</h4>
                    <h4>✔ dubina ispune: do 71 mm </h4>

                </div>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Images/Termo-85.jpg" alt="Slika proizvoda" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
</div>

<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <h1 style="font-weight: bold; color: #6ACD40">
                Feal Termo 120
            </h1>
            <br /><br />
            <div class="example-box-wrapper">
                <div class="example-box-wrapper">
                    <h3 style="font-weight: bold">Namijenjen za izradu prozora, vrata i fiksnih stijena </h3>

                    <h4>Karakteristike:</h4>

                    <h4>✔ dubina rama: 120 mm </h4>
                    <h4>✔ dubina krila: 50.5 i 55.7 mm</h4>
                    <h4>✔ dubina ispune: do 44 mm </h4>

                </div>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Images/Termo-120.jpg" alt="Slika proizvoda" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
</div>

<div class="col-md-6">
    <div class="panel">
        <div class="panel-body">
            <h1 style="font-weight: bold; color: #6ACD40">
                Feal Termo 150
            </h1>
            <br /><br />
            <div class="example-box-wrapper">
                <div class="example-box-wrapper">
                    <h3 style="font-weight: bold">Namijenjen za izradu prozora, vrata i fiksnih stijena </h3>

                    <h4>Karakteristike:</h4>

                    <h4>✔ dubina rama: 150 i 233 mm </h4>
                    <h4>✔ dubina krila: 67 mm</h4>
                    <h4>✔ dubina ispune: do 53 mm </h4>

                </div>
            </div>
            <br /><br />
        </div>
    </div>
    <div class="col-md-6">
        <img src="~/Images/TERMO-150.jpg" alt="Slika proizvoda" class="img-fluid" style="max-width: 100%; height: auto;">
    </div>
</div>
